{% extends "base.html" %}

{% block content %}

<div>
    <h1> {{ posts.title }} </h1>
    <p> {{ posts.text }} </p>
    <P> {{ posts.user }} {{ posts.create_date }} </P>
</div>



<form method="post" action="{% url "postsite:post_edit" posts.id %}" >
    {% csrf_token %}
    {{ form.as_p }}
    <button> Edit </button>
</form>


<form method="post" action="{% url "postsite:post_delete" posts.id %}" >
    {% csrf_token %}
    <button> Delete </button>
</form>



<div>

    {% for comment in posts.comment_set.all %}
        <h2> {{ comment.user}} </h2>
        <p> {{ comment.text }} </p>
    {% endfor %}


</div>

{% endblock content%}